@import '~bulma';
@import './variables';
@import './animations';
@import './notices';
@import './loading';

.is-centered {
  justify-content: center;
  text-align: center;
}

.modal-card-head {
  background-color: $link;
}

.modal-card-title {
  color: $link-invert;
}

.button.is-info.is-active {
  background-color: $link;
}

.delete {
  min-height: 35px;
  min-width: 35px;
}

.mt1 {
  margin-top: 1em;
}

.mb1 {
  margin-bottom: 1em;
}

.tooltipText .is-info {
  color: $info;
}

.tooltipText .is-light {
  color: $light;
}

.tooltipText .is-danger {
  color: $danger;
}

.tooltipText .is-warning {
  color: $warning;
}

@media screen and (min-width: 1024px) {
  a.navbar-item.is-active, a.navbar-link.is-active {
    color: $info;
  }
}

.modal-card, .modal-card-body, .modal-content {
  overflow: visible;
}

.modal-card-body {
  overflow-x: hidden;
}

.modal-content, .modal-card {
  overflow: hidden;
  max-height: calc(100vh - 40px);
  margin: 0 auto;
}

.notification {
  padding: 1rem;
}
