//@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/functions";
@import '~bulma';
@import './variables';
@import './animations';
@import './notices';
@import './loading';

.is-centered {
  justify-content: center;
  text-align: center;
}

.modal-card-head {
  background-color: $link;
}

.modal-card-title {
  color: $link-invert;
}

.button.is-info.is-active {
  background-color: $link;
}

.delete {
  min-height: 35px;
  min-width: 35px;
}

.mt1 {
  margin-top: 1em;
}
